<settings>
	<category label="Основные">		
		<setting id="skin" label="Обложка" type="labelenum" values="st.anger" />				
		<setting default="false" id="autostart" label="Автозапуск аддона" type="bool" />
		<setting default="false" id="autostart_lastch" label="Автозапуск последнего канала" type="bool" />
		<setting default="0" id="favourite" label="База избранных" type="enum" values="Auto|Локальная" visible="false" />
		<setting default="false" id="debug" label="Debug" type="bool" visible="false" />	
		<setting id="gender" label="Пол" type="enum" values="Мужской|Женский" />
		<setting id="age" label="Возраст" type="enum" values="Младше 13|13-17|18-24|25-34|35-44|45-54|55-64|Старше 64" />
	</category>
	<category label="Сеть">
		<setting default="f27uk3gyl2gfu4z36eifv4ob73w6xgrcms4w4vdxzcsxsobgc766ityd.onion" id="pomoyka_domain" label="Адрес помойки" type="text" />
		<setting default="socks5" id="proxy_type" label="Тип прокси" type="labelenum" values="http|socks5" visible="true" />
		<setting default="127.0.0.1:9050" id="pomoyka_proxy" label="Прокси" type="text" />
		<setting default="false" id="pomoyka_proxy_for_all" label="Использовать прокси для всего" type="bool" />
	</category>			
	<category label="Источники">		
		<setting default="https://iptvx.one/epg/epg.xml.gz" id="epg_url" label="Ссылка EPG (xmltv)" type="text" visible="false" />
		<setting id="acestream" label="Acestream (Порядоковый номер. Если <= 0, то выключен)" type="number" default="2" />
		<setting id="allfon" label="Allfon (Порядоковый номер. Если <= 0, то выключен)" type="number" default="0" />
		<setting id="ttv" label="TTV (Порядоковый номер. Если <= 0, то выключен)" type="number" default="1" />
		<setting default="" id="ttv_login" label="Логин ttv" type="text" enable="gt(-1,0)" subsetting="true" />
		<setting default="" id="ttv_password" label="Пароль ttv" type="text" enable="gt(-2,0)" subsetting="true" />
	</category>
	<category label="AceStream">
		<setting default="true" id="use_ace" label="Использовать Acestream, если доступно" type="bool" />
		<setting default="" id="ace_path" label="Путь до AceEngine" type="text" visible="true" />
		<setting default="127.0.0.1" id="ip_addr" label="IP-адрес acestreamengine" type="text" />
		<setting default="8621" id="outport" label="Внеший порт AceStream" type="number" />
		<setting default="20" id="freeze_timeout" label="Таймаут ожидания, сек." type="number" />
	</category>
	<category label="Noxbit">
		<setting default="false" id="use_nox" label="Использовать Noxbit, если доступно" type="bool" />
		<setting default="127.0.0.1" id="nox_ip" label="IP-адрес Noxbit" type="text" />
		<setting default="6689" id="nox_port" label="Порт Noxbit" type="number" />
		<setting default="stream" id="nox_streamtype" label="Тип потока" type="labelenum" values="stream|hls"/>
	</category>
	<category label="TSProxy">
		<setting default="true" id="use_tsproxy" label="Использовать TSProxy" type="bool" />
		<setting default="true" id="proxy_hls" label="HLS" type="bool" />
	</category>
</settings>
