<window>
	<defaultcontrol>301</defaultcontrol>
	<coordinates>
		<system>1</system>
		<left>500</left>
		<top>175</top>
	</coordinates>
	<controls>
		<control type="image" id="999">
			<description>background image</description>
			<left>0</left>
			<top>0</top>
			<width>270</width>
			<height>0</height>
			<texture border="20">ContextMenu.png</texture>
		</control>
		<control type="panel" id="301">
			<left>15</left>
			<top>30</top>
			<width>260</width>
			<height>0</height>
			<visible>true</visible>
			<viewtype>list</viewtype>
			<itemlayout width="260" height="40">
		        <control type="image">
					<width>243</width>
					<height>33</height>
					<left>0</left>
					<top>0</top>
					<visible>true</visible>
					<texture>itemnofocus.png</texture>
		        </control>
		        <control type="label">
					<left>5</left>
					<top>-3</top>
					<width>260</width>
					<height>35</height>
					<font>fontContextMenu</font>
					<aligny>center</aligny>
					<selectedcolor>green</selectedcolor>
					<align>left</align>
					<info>ListItem.Label</info>
		        </control>
      		</itemlayout>
			<focusedlayout width="260" height="40">
				<control type="image">
					<width>235</width>
					<height>33</height>
					<left>0</left>
					<top>0</top>
					<visible>true</visible>
					<texture>itemfocus.png</texture>
				</control>
				<control type="label">
					<left>5</left>
					<top>-3</top>
					<width>260</width>
					<height>35</height>
					<font>fontContextMenu</font>
					<aligny>center</aligny>
					<selectedcolor>green</selectedcolor>
					<align>left</align>
					<info>ListItem.Label</info>
				</control>
			</focusedlayout>
    	</control>
	</controls>
</window>
